<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="main">
    
    <select id="selectSysDate" resultType="String" >
        <![CDATA[ 
        SELECT /* main.selectSysDate, IT전략팀, chanwj, 2016.02.22 : MainMapper.xml */
                SYSDATE
        FROM DUAL      
        ]]>
    </select>

</mapper>